{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Form Status</title>

    <!-- Bootstrap -->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
   <link rel="stylesheet" href ="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
   <link rel="stylesheet" href="/resources/demos/style.css">

   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

   <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>-->
   <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
   <script rel = "preload" type="text/JavaScript" src="{% static 'js/lab_8.js' %}"></script>
   <script>
    $(function() {
    var icons = {
      header: "ui-icon-circle-arrow-e",
      activeHeader: "ui-icon-circle-arrow-s"
    };
    $( "#accordion" ).accordion({
      icons: icons, active: false, collapsible: true
    });
    $( "#toggle" ).button().click(function() {
      if ( $( "#accordion" ).accordion( "option", "icons" ) ) {
        $( "#accordion" ).accordion( "option", "icons", null );
      } else {
        $( "#accordion" ).accordion( "option", "icons", icons );
      }
    });
  });
   </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="se-pre-con"></div>
    <div class="container-fluid">  
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="brand"><a href="/homePage/" class="navbar-brand">Home</a></span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li><a href="/about_me/">Hello World</a></li>-->
          </ul>
        </div>
      </nav>
        <h1 id=hello>Hello Apa Kabar</h1>
        <br>
        <button onclick="myFunctionMerah()" class= "buttonWarna">Ganti Warna Tema Merah</button> <button onclick="myFunctionBiru()" class= "buttonWarna">Ganti Warna Tema Biru</button> <button onclick="myFunctionHitam()" class= "buttonWarna">Ganti Warna Tema Hitam</button>
        <br>
        <br>
        <div class= "form-group">
          <form id="form" method="POST" action = "{%url 'post_status' %}">
          {% csrf_token %}
          {{ status_form }}
          <br>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </form> 
        </div>
        <table class = "table">
      <thead>
        <th>Judul Status</th>
      </thead>
      <tbody>
        {% for i in judulstatus %}
        {% if i.title == 'Anonymous' %}
        <tr class="warning"> {% else %} <tr class="succes">
          {% endif %}
          <td> {{i.title}} </td>
        </tr>
        {% endfor %}
      </tbody>
    </div>

  <div id="accordion">
  <h3>Sifat</h3>
  <div class="accordion-body">
    <ul>
      <li>Baik Hati</li>
      <li>Tidak Sombong</li>
      <li>Rajin Menabung;  dan</li>
      <li>Suka Menolong Teman</li>
    </ul>
  </div>
  <h3>Pengalaman Organisasi dan Kepanitiaan</h3>
  <div class="accordion-body">
    <ul>
      <li>Staff Dokumentasi Wisuda Genap 2018</li>
      <li>Staff Pemungutan Suara Pemira Fasilkom UI 2018</li>
    </ul>
  </div>
  <h3>Prestasi</h3>
  <div class="accordion-body">
    <ul>
      <li>2006 Times Magazine Person of the Year</li>
    </ul>
  </div>
</div>
<br>

    <script>
      function myFunctionMerah() {
        var x = document.getElementsByClassName("navbar-default");
        var i;
        for (i = 0; i < x.length; i++) {
          x[i].style.backgroundColor = "red";
        }
        var y = document.getElementById("hello");
        y.style.color = "red";
        var warnaButton = document.getElementsByClassName("btn-primary");
        var j;
        for (j=0;j<warnaButton.length;j++){
          warnaButton[j].style.backgroundColor = "red";  
        }
        var warnaButtonWarna = document.getElementsByClassName("buttonWarna");
        var k;
        for (k=0;k<warnaButtonWarna.length;k++){
          warnaButtonWarna[k].style.backgroundColor = "red";
        } 
      }

      function myFunctionBiru() {
        var x = document.getElementsByClassName("navbar-default");
        var i;
        for (i = 0; i < x.length; i++) {
          x[i].style.backgroundColor = "blue";
        } 
        var y = document.getElementById("hello");
        y.style.color = "blue";
        var warnaButton = document.getElementsByClassName("btn-primary");
        var j;
        for (j=0;j<warnaButton.length;j++){
          warnaButton[j].style.backgroundColor = "blue";  
        }
        var warnaButtonWarna = document.getElementsByClassName("buttonWarna");
        var k;
        for (k=0;k<warnaButtonWarna.length;k++){
          warnaButtonWarna[k].style.backgroundColor = "blue";
        }
      }

      function myFunctionHitam() {
        var x = document.getElementsByClassName("navbar-default");
        var i;
        for (i = 0; i < x.length; i++) {
          x[i].style.backgroundColor = "black";
        }
        var warnaBrandNavBar = document.getElementsByClassName(".navbar-brand");
        var warnaTextNavBar = document.getElementsByClassName(".navbar-text");
        var u;
        for(u=0;u<warnaBrandNavBar.length;u++){
          warnaBrandNavBar[u].style.color = "white";
          warnaTextNavBar[u].style.color = "white";
        }
        var y = document.getElementById("hello");
        y.style.color = "black";
        var warnaButton = document.getElementsByClassName("btn-primary");
        var j;
        for (j=0;j<warnaButton.length;j++){
          warnaButton[j].style.backgroundColor = "black";
          warnaButton[j].style.color = "white";  
        }
        var warnaButtonWarna = document.getElementsByClassName("buttonWarna");
        var k;
        for (k=0;k<warnaButtonWarna.length;k++){
          warnaButtonWarna[k].style.backgroundColor = "black";
          warnaButtonWarna[k].style.color = "white"
        } 
      }
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  </body>
</html>
{% endblock %}