	.tema{
		position: relative;
		top:50px;
		margin:auto;
		width: 1440px;
		height: 627px;
		background: #FFFFFF;
	}
	.gambar{
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.namaPW{
		position: absolute;
		width: 48%;
		height: 20%px;
		left: 673px;
		top: 0px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: 15px;
		font-size: 64px;
		color: #000000;
	}
	.aboutMe{
		position: absolute;
		width: 52%;
		height: 70%;
		left: 689px;
		top: 132px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 24px;
		color: #000000;
	}
	.cv{
		
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 24px;
		color: #000000;
	}
	.formalEducationPW{
		position: absolute;
		width: 240px;
		height: 197px;
		left: 706px;
		top: 376px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 24px;
		color: #000000;
	}
	.phoneImage{
		position: absolute;
		left: 1065px;
		top: 400px;
	}
	.phoneNumber{
		position: absolute;
		width: 276px;
		height: 38px;
		left: 1131px;
		top: 376px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 24px;
		color: #000000;
	}
	.emailImage{
		position: absolute;
		left: 1065px;
		top: 470px;
	}
	.emailAddress{
		position: absolute;
		width: 290px;
		height: 28px;
		left: 1128px;
		top: 444px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 24px;
		color: #000000;
	}
	.homeImage{
		position: absolute;
		left: 1060px;
		top: 549.02px;
	}
	.homeAddress{
		position: absolute;
		width: 248px;
		height: 112px;
		left: 1131px;
		top: 505px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 24px;
		color: #000000;
	}
	.background{
			position: relative;
			margin:auto;
			width: 1440px;
			height: 1096px;
			background: #FFFFFF;
		}
		.pasFoto{
			position: absolute;
			width: 230px;
			height: 228px;
			left: 129px;
			top: 52px;
		}
		.namaCV{
			position: absolute;
			width: 368px;
			height: 232px;
			left: 300px;
			top: 32px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 48px;
			color: #000000;
		}
		.info{
			position: absolute;
			width: 282px;
			height: 485px;
			align: right
			left: 129px;
			top: 230px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 24px;
			color: #000000;
		}
		.formalEducationCV{
			position: absolute;
			width: 919px;
			height: 163px;
			left: 300px;
			top: 230px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 24px;
			color: #000000;
		}
		.nonFormalEducation{
			position: absolute;
			width: 870px;
			height: 123px;
			left: 300px;
			top: 400px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 24px;
			color: #000000;
		}
		.organization{
			position: absolute;
			width: 867px;
			height: 156px;
			left: 300px;
			top: 520px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 24px;
			color: #000000;
		}
		.skills{
			position: absolute;
			width: 867px;
			height: 135px;
			left: 300px;
			top: 640px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 24px;
			color: #000000;
		}
		.languages{
			position: absolute;
			width: 864px;
			height: 107px;
			left: 300px;
			top: 820px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 24px;
			color: #000000;
		}
		.titles{
			font-size:36px;
			font-family: Roboto;
			font-weight:Bold;
		}
		.years{
			position:absolute;
			left: 700px
		}
		.name3{
			position: absolute;
			width: 1440px;
			height: 143px;
			left: 47px;
			top: 24px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: 16px;
			font-size: 67px;
			color: #000000;
		}
		.facts{
			position: absolute;
			width: 750px;
			height: 455px;
			left: 47px;
			top: 148px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: 6px;
			font-size: 24px;
			color: #000000;
			margin: top;
		}
		.formInfo{
			font-size:24px;
			font-family: Roboto;
			font-weight:Bold;
		}
		.formInfo2{
			font-size:14px;
			font-family: Roboto;
			font-weight:Lightest;
		}
		.formTitle{
			position: absolute;
			width: 1440px;
			height: 143px;
			left: 47px;
			top: 30px;
			font-size:67px;
			font-family:Roboto;
			font-weight:normal;
		}
		.formPic{
			position: absolute;
			left: 850px;
			top: 148px;
		}
		@media (min-width: 768px){
			.fotoSMA{
				float: none;
			}
		}