.navbar-default {
    background-color: blue;
    color: black;
}
/* change the brand and text color */
.navbar-default .navbar-brand,
.navbar-default .navbar-text {
    color: white;
}
/* change the link color */
.navbar-default .navbar-nav .nav-link {
    color: white;
}
/* change the color of active or hovered links */
.navbar-default .nav-item.active .nav-link,
.navbar-default .nav-item:hover .nav-link {
    color: white;
}


#hello{
	color: blue;
}
.btn-primary{
	background-color: blue;
}
.buttonWarna{
	background-color: blue;
	color:white;
}


#accordion h3 {
    text-transform: uppercase;
    background: green;
    color: blue;
}

.accordion-body li {
    font-size: 18px;
    font-color:green;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(https://media.giphy.com/media/oyVGsLT6Kr38sUaeF9/giphy.gif) center no-repeat #fff;
}
