<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
	<img src = https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/222861_208662945820419_8366546_n.jpg?_nc_cat=0&oh=3dafae64729d1d1375e299e9346409c0&oe=5C34FA34></img src>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<article>I am currently studying at {{ university }}</article>
	<article>My hobby is {{ hobby }}</article>
	<article>Description : {{ bio }}</article>
	
	<h1>Hello this is my friend {{ front_name }}</h1>
	<img src = https://files.catbox.moe/55ls3j.JPG></img src>
	<article>NPM : {{ front_npm }}</article>
	<article>He is {{ front_age }} years old</article>
	<article>He is currently studying at {{ front_university }}</article>
	<article>His hobby {{ front_hobby }}</article>
	<article>Description : {{ front_bio }}</article>
	
	<h1>Hello this is my friend {{ behind_name }}</h1>
	<img src = https://instagram.fcgk4-2.fna.fbcdn.net/vp/7af595f6c8b67c0f37cc81db026dc9ef/5C36800E/t51.2885-19/s150x150/37916168_524034281383747_3125872117082488832_n.jpg></img src>
	<article>NPM : {{ behind_npm }}</article>
	<article>He is {{ behind_age }} years old</article>
	<article>He is currently studying at {{ behind_university }}</article>
	<article>His hobby {{ behind_hobby }}</article>
	<article>Description : {{ behind_bio }}</article>
	
	
</body>
</html>
