{% load static %}
{% block content %}
	<head>
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<title>CV</title>
	</head>
	<body style="background-color:black">
		<div class="background">
			<div class="pasFoto"><img src="https://i.postimg.cc/pTPy9PdJ/pic_snmptn_500x700.jpg" width="230" height="228">
			<div class ="namaCV"><p>Yudha Pradipta Ramadan</p></div>
			<div class ="info">
				<p style="font-size:36px"><b>Info</b></p>
				<p>
				<b>Address</b><br>
				Taman Kenari Nusantara MG 4/16 Nagrak, Gunung Putri, Bogor<br>
				</p>
				<p>
				<b>Phone</b><br>
				081222392725<br>
				</p>
				<p>
				<b>Email</b><br>
				yudha512000@gmail.com<br>
				</p>
			</div>
			<div class ="formalEducationCV">
				<p><span class="titles">Formal Education</span><br>
				Faculty of Computer Science University of Indonesia<span class="years">2017-Present</span><br>
				42 Senior High School<span class="years">2014-2017</span><br>
				49 Junior High School<span class="years">2011-2014</span><br>
				Cibubur 011 Elementary School<span class="years">2005-2011</span><br>
				</p>
			</div>
			<div class ="nonFormalEducation">
				<p><span class="titles">Non Formal Education</span><br>
				International Language Programs<span class="years">2005-2010</span><br>
				LIA<span class="years">2011-2014</span><br>
				</p>
			</div>
			<div class ="organization">
				<p><span class="titles">Organization</span><br>
				Wisuda Genap Faculty of Computer Science<span class="years">2018</span><br>
				University of Indonesia<br>
				</p>
			</div>
			<div class ="skills">
				<p><span class="titles">Skills</span><br>
				Phyton<br>
				Java<br>
				html<br>
				Microsoft Office<br>
				</p>
			</div>
			<div class ="languages">
				<p><span class="titles">Formal Education</span><br>
				English<br>
				Bahasa (Native)<br>
				</p>
			</div>
		</div>
	</body>
{% endblock %}