{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Form</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href = "{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">  
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="brand"><a href="{% url 'index' %}" class="navbar-brand">PersonalWeb</a></span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'CV' %}">CV</a></li>
            <li ><a href="{% url 'funFact' %}">Fun Fact</a></li>
            <li><a href="{% url 'form' %}">Form</a></li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-6">
        <div class="namaForm">Fill this form if you want to be my friend</div>
        </div>
        <div class="col-xs-6">
          <form>
            <div class="form-group">
             <label for="validationTooltip01"><span class="formInfo">Name</span></label>
             <input type="text" class="form-control" placeholder="Name"required>
            </div>
            <div class="form-group form-birthdate">
            <label for="birthDate"><span class="formInfo">Birth Date</span></label><br>
            <input type="date" class="form-check-input" id="exampleCheck1">
            </div>
            <div class="form-group">
            <label for="exampleInputEmail1"><span class="formInfo">Email address</span></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted"><span class="formInfo2">We'll never share your email with anyone else.</span></small>
            </div>
            <div class="form-group">
             <label for="validationTooltip01"><span class="formInfo">Username</span></label>
             <input type="text" class="form-control" placeholder="Username"required>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1"><span class="formInfo">Password</span></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword2"><span class="formInfo">Password Confirmation</span></label>
            <input type="Password" class="form-control" id="exampleInputPassword2" placeholder="Password Confirmation">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
  </body>
</html>
{% endblock %}