{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Fun Fact</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.js' %}" rel="stylesheet">

    <link rel="stylesheet" href ="{% static 'css/style.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<div class = "container-fluid">
  		<nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <span class="brand"><a href="{% url 'index' %}" class="navbar-brand">PersonalWeb</a></span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'CV' %}">CV</a></li>
            <li ><a href="{% url 'funFact' %}">Fun Fact</a></li>
            <li><a href="{% url 'form' %}">Form</a></li>
            
          </ul>
        </div>
      </nav>
      <div class="col-xs-12">  
        <div class="row">
          <div class="namaPW">Yudha Pradipta Ramadan</div>
        </div>
        <div class="row">
          <div class="fFacts">
            <p>I am the oldest out of four sibling</p>
            <p>When I was four years old I joined some fashion shows as a contestant</p>
            <p>I didn't win and only get participant trophy</p>
            <p>And I cried because i didn't win and my female fried won first place</p>
            <p>I fell in a sewer while riding my bike twice and cried both time</p>
            <p>When i was one years old, a dolphin kissed me on my mouth and i cried</p>
            <p>I was stabbed with a pencil twice</p>
            <p>I support Man United</p>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  </body>
</html>
{% endblock %}