{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Schedule</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid p-0">
    	<nav class="navbar navbar-inverse" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <span class="brand"><a href="{% url 'index' %}" class="navbar-brand">PersonalWeb</a></span>
              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{% url 'CV' %}">CV</a></li>
                  <li ><a href="{% url 'funFact' %}">Fun Fact</a></li>
                  <li><a href="{% url 'form' %}">Form</a></li>
                  <li><a href="{% url 'formJadwal' %}">Schedule Form</a></li>
                </ul>
              </div>
          </nav>
    <table class = "table">
    	<thead>
    		<th>Nama Acara</th>
    		<th>Waktu Acara</th>
    		<th>Tempat Acara</th>
    		<th>Kategori Acara</th>
    	</thead>
    	<tbody>
    		{% for i in jadwalacara %}
    		{% if i.nama_acara == 'Anonymous' or i.tanggal_acara == 'Anonymous' or i.tempat_acara == 'Anonymous' %}
    		<tr class="warning"> {% else %} <tr class="succes">
    			{% endif %}
    			<td> {{i.nama_acara}} </td>
    			<td> {{i.tempat_acara}} </td>
    			<td> {{i.tanggal_acara}} </td>
    			<td> {{i.kategori_acara}} </td>
    		</tr>
    		{% endfor %}
    	</tbody>
   	</table>
    
  </body>
</html>




{% endblock %}