.navbar-default {
    background-color: blue;
    color: black;
}
/* change the brand and text color */
.navbar-default .navbar-brand,
.navbar-default .navbar-text {
    color: white;
}
/* change the link color */
.navbar-default .navbar-nav .nav-link {
    color: white;
}
/* change the color of active or hovered links */
.navbar-default .nav-item.active .nav-link,
.navbar-default .nav-item:hover .nav-link {
    color: white;
}


#hello{
	color: blue;
}
.btn-primary{
	background-color: blue;
}
.buttonWarna{
	background-color: blue;
	color:white;
}

#accordion{background:yellow}